{% include 'base.html' %}
{% block base %}
    <div class="container">
    <div class="row">
        <div class="offset-md-4 col-md-4">
<form method="post" >
    {% csrf_token %}
    {% for fm in form %}
        {{ fm.label_tag }} {{ fm}} {{ fm.errors | striptags }}

    {% endfor %}
<input value="Submit" type="submit" class="btn btn-info form-control">
</form>

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}

{% endif %}
                </div>
    </div>
</div>
{% endblock %}